:root {
    --zoom: 100%;
    --XChange: 0;
    --YChange: 0;
    --coordHeight: 1000px;
    --coordWidth: 1600px;
}

body {
    margin: 0;
    padding: 0;
}
.cardOptions{
    display: none;
    position:absolute;
    background: #f9f9f9;
    color: #f9f9f9;
    padding: 5px;
    z-index: 11;
    border-radius: 8px;

}
.cardOptions button{
    color: black;
    background: #f9f9f9;
    border:none;
}
.cardOptions button:hover{
    background: #e9e9e9;

}

.container {
    display: grid;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 5fr;
    background-color: white;


}
.container div {

}
/* Header */
.container div.header {
    grid-area: header;
    background-color: #4d7318;
    overflow: hidden;
    zoom: 100%;
}

.container .header .topbar a {
    grid-area: header;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}
/* change color when hovering*/
.container .header .topbar a:hover {
    grid-area: header;
    background-color: #4d7318;
    color: black;
}

/* Menu */
.container div.menu {
    grid-area: menu;
    border-style: dashed;

}

/*Content Abschnitt*/
.container div.content {
    grid-area: content;
    border-style: dashed;
    overflow: auto;
    position: relative;

}

.container .content .formPopup{
    display: none;
    background: beige;
    border:  3px black;
    border-style: solid;
    border-radius: 8px;
    position: fixed;
    bottom: 50px;
    right: 60px;
    width: 280px;
    padding: 5px;
    z-index: 10;
}

.container .content .formPopup .formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;

}
.container .content .coord {
    height: var(--coordHeight); /* das als variablen ersetzen */
    width: var(--coordWidth);
    background-image:
            linear-gradient(to right, #ccc 1px, transparent 1px),
            linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-size: 25px 25px;
    transform: translate(var(--XChange), var(--YChange)) scale(var(--zoom)) ;
    transform-origin: 0 0;


}
.container .content .coord .card {
    grid-area: content;
    border-style: solid;
    width: 187.5px;
    height: 87.5px;
    overflow: auto;
    background: beige;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    cursor: move;
    font-size: 11px;

}
.container .content .coord .card{
    display: grid;
    grid-template-columns: 90px 10px 1fr;

}

.container .content .coord .card .label {
    text-align: left;
}

.container .content .coord .card .colon {
    text-align: center;
}

.container .content .coord .card .value {
    text-align: left;
}


    /*/////// footer ///////*/
.container div.footer {
    grid-area: footer;
    text-align: center;
    border-style: dashed;
}



