.topbar {
    background-color: #4d7318;
    overflow: hidden;
    zoom: 100%;
}
/* */
.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* change color when hovering*/
.topbar a:hover {
    background-color: #4d7318;
    color: black;
}


body, html {
    margin: 0;
    height: 100%;
}

:root {
    --zoom: 1;
}

.environment {
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: scale(var(--zoom));
    background-color: white;
    background-image:
            linear-gradient(to right, #eee 1px, transparent 1px),
            linear-gradient(to bottom, #eee 1px, transparent 1px);
    background-size: 25px 25px;
}