:root {
    --zoom: 100%;
    --XChange: 0;
    --YChange: 0;
    --coordHeight: 1000px;
    --coordWidth: 1600px;

    --multiboxPos: 0;
    --multiboxWidth: 0px;
    --multiboxHeight: 0px;
}

body {
    margin: 0;
    padding: 0;
}


.cardOptions{
    display: none;
    position:absolute;
    background: #f9f9f9;
    color: #f9f9f9;
    padding: 5px;
    z-index: 11;
    border-radius: 8px;

}
.cardOptions button{
    color: black;
    background: #f9f9f9;
    border:none;
}
.cardOptions button:hover{
    background: #e9e9e9;

}

.editFormPopup{
    display: none;
    background: beige;
    border:  3px black;
    border-style: solid;
    border-radius: 8px;
    position: fixed;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    inset: 0;
    width: 280px;
    height: 150px;
    padding: 5px;
    z-index: 10;
}

.editFormPopup .editFormContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;

}

.container {
    display: grid;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 5fr;
    background-color: white;


}
.container div {

}
/* Header */
.container div.header {
    grid-area: header;
    background-color: #4d7318;
    overflow: hidden;
    zoom: 100%;
}

.container .header .topbar a {
    grid-area: header;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}
/* change color when hovering*/
.container .header .topbar a:hover {
    grid-area: header;
    background-color: #4d7318;
    color: black;
}

/* Menu */
.container div.menu {
    grid-area: menu;
    border-style: dashed;

}

.container .menu .navbarTree{
    padding: 5px;
    border: black;
    border-style: solid;

}

.container .menu .navbarTree button{
    border: none;
    color: #000000;
}
.container .menu .navbarTree button:hover{
    background: #756565;
}

.container .menu .navbarTree .treeForm {
    display: none;
    background: beige;
    border:  3px black;
    border-style: solid;
    border-radius: 8px;
    position: fixed;
    top: 100px;
    left: 600px;
    padding: 5px;
    z-index: 10;
}
.container .menu .navbarTree .treeForm .treeFormContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;
}


/*Content Abschnitt*/
.container div.content {
    grid-area: content;
    border-style: dashed;
    overflow: auto;
    position: relative;

}

.container .content .formPopup{
    display: none;
    background: beige;
    border:  3px black;
    border-style: solid;
    border-radius: 8px;
    position: fixed;
    bottom: 50px;
    right: 60px;
    width: 280px;
    padding: 5px;
    z-index: 10;
}

.container .content .formPopup .formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;

}
.container .content .coord {
    height: var(--coordHeight); /* das als variablen ersetzen */
    width: var(--coordWidth);
    background-image:
            linear-gradient(to right, #ccc 1px, transparent 1px),
            linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-size: 25px 25px;
    transform: translate(var(--XChange), var(--YChange)) scale(var(--zoom)) ;
    transform-origin: 0 0;



}

.container .content .multiBox{
    height: var(--multiboxHeight);
    width: var(--multiboxWidth);
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    position: absolute;
    opacity: 0.25;
    background-color: lightblue;
    display: none;
    z-index: 11;
}

.container .content .coord svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
    z-index: 2;
}
.container .content .coord svg circle {
    pointer-events: all;
}
.container .content .coord .card {
    grid-area: content;
    border-style: solid;
    width: 187.5px;
    height: 87.5px;
    overflow: auto;
    background: beige;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    cursor: move;
    font-size: 11px;
    z-index: 3;

}
.container .content .coord .card{
    display: grid;
    grid-template-columns: 90px 10px 1fr;

}

.container .content .coord .card .label {
    text-align: left;
}

.container .content .coord .card .colon {
    text-align: center;
}

.container .content .coord .card .value {
    text-align: left;
}


    /*/////// footer ///////*/
.container div.footer {
    grid-area: footer;
    text-align: center;
    border-style: dashed;
}



