.topbar {
    background-color: #4d7318;
    overflow: hidden;
}
/* */
.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* change color when hovering*/
.topbar a:hover {
    background-color: #4d7318;
    color: black;
}