<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/editor.css}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="header">
            <div class="topbar">
                <a th:href="@{/homepage}">Homepage</a>
                <a th:href="@{/editor}">Editor</a>
            </div>
        </div>
        <div class="menu"><a href="#">Link 1</a><br><a href="#">Link 2</a><br><a href="#">Link 3</a><br>
            <button onclick="constructPerson()">Construct Person</button>
        </div>
        <div class="content">
            <div>
                <form class="formPopup" id="constructForm">

                </form>
            </div>
            <div class="coord">       <!--koordinaten system -->
                <div class="card">
                    <div class="label">Name</div><div class="colon">:</div><div class="value"><span th:text="${name}"></span></div>
                    <div class="label">Surname</div><div class="colon">:</div><div class="value"><span th:text="${surname}"></span></div>
                    <div class="label">Age</div><div class="colon">:</div><div class="value"><span th:text="${age}"></span></div>
                    <div class="label">Birthyear</div><div class="colon">:</div><div class="value"><span th:text="${birthyear}"></span></div>
                    <div class="label">Place of Birth</div><div class="colon">:</div><div class="value"><span th:text="${place}"></span></div>
                </div>
            </div>

            <canvas id="CanvasCoord" width="1600" height="1000" style="border:1px solid #000000;">

            </canvas>
        </div>

        <div class="footer"><h4>Footer</h4></div>
    </div>

<script th:src="@{/js/editor.js}"></script>
</body>
</html>