<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/editor.css}" rel="stylesheet">

</head>
<body>
    <div class="cardOptions" id="cardOption">
        <button onclick="addSpouse()">Add Spouse</button> <br>
        <button onclick="addParent()">Add Parent</button> <br>
        <button onclick="connectToSpouse()">Connect to Spouse</button> <br>
        <button onclick="connectToParent()">Connect to Parent</button> <br>
        <button onclick="deleteCard()">Delete Card</button>
    </div>
    <div class="container">
        <div class="header">
            <div class="topbar">
                <a th:href="@{/homepage}">Homepage</a>
                <a th:href="@{/editor}">Editor</a>
            </div>
        </div>
        <div class="menu">
            <div class="navbarTree" id="navbarTree">
                <div class="treeForm" id="treeForm">
                    <form class="treeFormContainer">
                        <label>Tree name</label>
                        <input id="treeName" type="text" name="name" required>

                        <button type="button" class="btn cancel" onclick="abortNewTree()">Abort</button>
                        <button type="submit">Create Tree</button>
                    </form>
                </div>
                <button onclick="openNewTreeForm()">Create New Tree</button>
                <div class="allTrees" id="allTrees">
                    <ul>
                        <li><button>Example</button></li>
                    </ul>
                </div>


            </div><br>
            <button onclick="openNewPersonForm()">New Person</button> <br>
            <a href="#">Data Analysis</a><br>
            <a href="#">Map</a><br>
            <a href="#">Export</a><br>

        </div>
        <div class="content">
            <div class="formPopup" id="constructForm">
                <form class="formContainer">
                    <label>Name</label>
                    <input id="name" type="text" name="name"required>
                    <label>Surname</label>
                    <input id="surname" type="text" name="surname" required>
                    <label>Age</label>
                    <input id="age" type="number" name="age" required>
                    <label>Birthyear</label>
                    <input id="birthyear" type="number" name="birthyear" required>
                    <label>Place of Birth</label>
                    <input id="place" type="text" name="place" required>
                    <button type="button" class="btn cancel" onclick="abortNewPerson()">Abort</button>
                    <button type="submit">Create Person</button>
                </form>
            </div>
            <div class="coord" id="cardContainer"> <!--koordinaten system --> </div>

        </div>

        <div class="footer"><h4>Footer</h4></div>
    </div>





<script th:src="@{/js/editor.js}"></script>
<script th:src="@{/js/editorLinks.js}"></script>
    <script th:src="@{/js/editorDatabasePosition.js}"></script>
<script th:src="@{/js/editorCreateTree.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var trees = /*[[${trees}]]*/ [];
        console.log("Geladene Bäume:", trees);
        // Einmalige Initialisierung
        innitTrees(trees);


        /*]]>*/
    </script>

<script th:src="@{/js/getTree.js}"></script>

</body>
</html>