<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family tree maker</title>
    <link th:href="@{/css/editor.css}" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌲</text></svg>">

</head>
<body>

<div class="editFormPopup" id="editForm">
    <form class="editFormContainer">
        <label>Name</label>
        <input  type="text" name="name" autocomplete="off" required>
        <label>Surname</label>
        <input type="text" name="surname" autocomplete="off" required>
        <label>Age</label>
        <input  type="number" name="age" autocomplete="off" required>
        <label>Birthyear</label>
        <input  type="number" name="birthyear" autocomplete="off" required>
        <label>Place of Birth</label>
        <input type="text" name="place" autocomplete="off" required>
        <button type="button" class="btn cancel" onclick="abortEditPerson()">Cancel</button>
        <button type="submit">Save Changes</button>
    </form>
</div>
    <div class="cardOptions" id="cardOption">
        <button onclick="connectToSpouse()">Connect to Spouse</button> <br>
        <button onclick="connectToParent()">Connect to Parent</button> <br>
        <button onclick="openEditForm()">Edit Card</button> <br>
        <button onclick="deleteCard()">Delete Card</button>
    </div>
    <div class="container">
        <div class="header">
            <span class="header-title">🌳 FamilyTree </span>
            <div class="topbar">
                <a th:href="@{/homepage}">Homepage</a>
                <a th:href="@{/editor}">Editor</a>
                <a th:href="@{/help}">Help</a>
            </div>

        </div>
        <div class="menu">
            <div class="navbarTree" id="navbarTree">
                <div class="treeForm" id="treeForm">
                    <form class="treeFormContainer">
                        <label>Tree name</label>
                        <input id="treeName" type="text" name="name" autocomplete="off" required>

                        <button type="button" class="btn cancel" onclick="abortNewTree()">Abort</button>
                        <button type="submit">Create Tree</button>
                    </form>
                </div>
                <button onclick="openNewTreeForm()">Create New Tree</button>  <button onclick="deleteTree()"> Delete Current Tree</button>
                <div class="allTrees" id="allTrees">
                    <ul>
                        <li><button>Example</button></li>
                    </ul>
                </div>



            </div><br>
            <div class="divider"></div>
            <div class ="newPerson">
                <button onclick="openNewPersonForm()">New Person</button> <br>
                <button onclick="exportToPDF()">Export to PDF</button>
                <button>Map (in development)</button>
            </div>



        </div>
        <div class="content">
            <div class="formPopup" id="constructForm">
                <form class="formContainer">
                    <label>Name</label>
                    <input id="name" type="text" name="name" autocomplete="off" required>
                    <label>Surname</label>
                    <input id="surname" type="text" name="surname" autocomplete="off" required >
                    <label>Age</label>
                    <input id="age" type="number" name="age" autocomplete="off" required >
                    <label>Birthyear</label>
                    <input id="birthyear" type="number" name="birthyear" autocomplete="off" required>
                    <label>Place of Birth</label>
                    <input id="place" type="text" name="place" autocomplete="off" required>
                    <button type="button" class="btn cancel" onclick="abortNewPerson()">Abort</button>
                    <button type="submit">Create Person</button>
                </form>
            </div>
            <div class="coord" id="cardContainer"> <!--koordinaten system -->

            </div>
            <div class="multiBox" id="multiBox"></div>


        </div>

        <div class="footer">
            <div class="footer-right">
                <a href="https://www.linkedin.com/in/ziad-el-jomaa-6b2a98300/" target="_blank">
                    <div class="li-icon">in</div>
                </a>
                <span class="dot">·</span>
                <a href="mailto:ziad01@hotmail.de?subject=FamilyTree Bug Report">
                     Report a Bug
                </a>
                <span class="dot">·</span>
                <a href="mailto:ziad01@hotmail.de?subject=FamilyTree Suggestion">
                     Suggestion
                </a>
            </div>
            <div class="footer-left">
                🌳 Made by <span>Ziad El Jomaa</span>
            </div>
        </div>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.26.22/dist/sweetalert2.all.min.js
"></script>
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.26.22/dist/sweetalert2.min.css
" rel="stylesheet">
<script th:src="@{/js/editor/editor.js}"></script>
    <script th:src="@{/js/editor/zoom.js}"></script>
    <script th:src="@{/js/editor/cardMovement.js}"></script>
    <script th:src="@{/js/editor/panning.js}"></script>
    <script th:src="@{/js/editor/createCard.js}"></script>
    <script th:src="@{/js/editor/createTree.js}"></script>
<script th:src="@{/js/editor/cardOptions.js}"></script>
    <script th:src="@{/js/editor/databasePosition.js}"></script>
    <script th:src="@{/js/editor/treeOptions.js}"></script>
    <script th:src="@{/js/editor/multiselect.js}"></script>
    <script th:src="@{/js/editor/connections.js}"></script>
    <script th:src="@{/js/editor/getConnections.js}"></script>
<script th:src="@{/js/editor/export.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var trees = /*[[${trees}]]*/ [];
        console.log("Geladene Bäume:", trees);
        // Einmalige Initialisierung
        innitTrees(trees);


        /*]]>*/
    </script>

<script th:src="@{/js/editor/getTree.js}"></script>

</body>
</html>